:root {
  --color-50: #f5f3ff;
  --color-100: #ede9fe;
  --color-200: #ddd6fe;
  --color-300: #c4b5fd;
  --color-400: #a78bfa;
  --color-500: #8b5cf6;
  --color-600: #7c3aed;
  --color-700: #6d28d9;
  --color-800: #5b21b6;
  --color-900: #4c1d95;
  --color-950: #2e1065;
  --size-xxs: 0.625rem; /* 10px */
  --size-xs: 0.75rem; /* 12px */
  --size-sm: 0.875rem; /* 14px */
  --size-md: 1rem; /* 16px */
  --size-lg: 1.125rem; /* 18px */
  --size-xl: 1.25rem; /* 20px */
  --size-2xl: 1.5rem; /* 24px */
  --size-3xl: 1.875rem; /* 30px */
  --size-4xl: 2.25rem; /* 36px */
  --size-5xl: 3rem; /* 48px */
  --size-6xl: 3.75rem; /* 60px */
  --size-7xl: 4.5rem; /* 72px */
  --size-8xl: 6rem; /* 96px */
  --size-9xl: 8rem; /* 128px */
  --gutter-xxl: 96px; /* Extra-extra large */
  --gutter-xl: 80px; /* Extra large */
  --gutter-lg: 64px; /* Large */
  --gutter-md: 40px; /* Medium */
  --gutter-sm: 24px; /* Small */
  --gutter-xs: 16px; /* Extra small */
  --gutter-xxs: 8px; /* Extra-extra small */
}

body {
  background-color: var(--color-200);
  margin: var(--gutter-xs);
}

.container {
  background-color: var(--color-300);
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-auto-rows: min-content;
  min-height: 70vh;
  max-width: 960px;
  margin: 0 auto;
  box-shadow: 0 10px 20px var(--color-800), 0 6px 6px var(--color-900);
  border-radius: 12px;
  overflow: hidden;
}

.header-container {
  background-color: var(--color-400);
  color: var(--color-50);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--gutter-sm) var(--gutter-md);
}

.header-container .btn {
  border-radius: var(--size-xxs);
  padding: var(--size-xs) var(--size-2xl);
  font-size: var(--size-lg);
}

.btn {
  background-color: var(--color-500);
  color: var(--color-50);
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px var(--color-700);
}

.btn:hover {
  background-color: var(--color-600);
  box-shadow: 0 6px 8px var(--color-800);
  transform: translateY(-2px);
}

.btn:active {
  background-color: var(--color-700);
  box-shadow: 0 2px 4px var(--color-900);
  transform: translateY(0);
}

.main-container {
  padding: var(--gutter-md);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--gutter-xs);
}

.book-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--gutter-xs);
  background-color: var(--color-100);
  color: var(--color-800);
  border: 2px solid var(--color-300);
  border-radius: 12px;
  padding: var(--gutter-xs);
  box-shadow: 0 4px 8px var(--color-400), 0 2px 4px var(--color-500);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px var(--color-500), 0 3px 6px var(--color-600);
}

.book-title {
  font-size: var(--size-xl);
  font-weight: 700;
  margin-bottom: var(--gutter-xxs);
  color: var(--color-700);
}

.book-author,
.book-pages,
.book-read {
  font-size: var(--size-md);
  margin: 4px 0;
  color: var(--color-600);
}

.book-read span {
  background-color: var(--color-500);
  border-radius: 4px;
  color: var(--color-50);
  font-size: var(--size-xs);
  font-weight: 700;
  padding: 1px var(--gutter-xxs);
  text-transform: uppercase;
}

.card-buttons {
  display: flex;
  gap: var(--gutter-xxs);
}

.book-card .btn {
  border-radius: var(--size-xxs);
  padding: var(--size-xs) var(--size-xs);
  font-size: var(--size-xs);
}
